//fonts

//sizes
$font-size-big-title: 64pt;
$font-size-title:28pt;
$font-size-sub-title: 18pt;
$font-size-large: 16pt;
$font-size-normal: 14pt;
$font-size-small: 12pt;
$font-size-smaller: 10pt;
$font-size-smallest: 8pt;

//weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;